# Data Preparation
# Train-test split

Train_test split is a data preparation technique where we divides the dataset into:
1.Training data: used to train the ML model.
2.Testing data: used to evaluate how well the model performs on unseen data.
Why do we need Train-Test Split:
If we train and test on the same data,the model:
- Looks smart
- Fails in real-world data
Train-test split helps to:
-Detect overfitting
-Measure real performance
-Simulate future/unseen data
Real-life analogy:
--
Sudying from a book(train) !=writing exam
questions you've already seen (test)
Common Split Ratios:
-------------------
Training    Testing    When to use

80%           20%       Standard choice
70%           30%       Small dataset
90%           10%       Large dataset

 Example:
 If N=100 rows and split=80:20
 Train=80 samples
 Test=20 samples

In [7]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [9]:
data=pd.DataFrame({
    "study_Hours":[1,2,3,4,5,6,7,8],
    "Marks":[35,40,50,55,65,70,80,85]
})

In [10]:
data

   study_Hours  Marks
0            1     35
1            2     40
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [15]:
x=data[["study_Hours"]]
y=data["Marks"]

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x, y,test_size=0.20,random_state=55)

In [17]:
x_train

   study_Hours
6            7
1            2
3            4
0            1
2            3
5            6

In [18]:
 x_test

   study_Hours
4            5
7            8

In [19]:
x_train.shape

(6, 1)

In [20]:
x_test.shape

(2, 1)

# Real time Dataset

In [21]:
diabetes=pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Diabetes.csv')

In [22]:
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [25]:
diabetes.head(5)

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [26]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [27]:
y=diabetes['diabetes']

In [31]:
x=diabetes.drop(['diabetes'],axis=1)

In [50]:
x_train,x_test,y_train,y_test=train_test_split(x, y,test_size=0.20,random_state=50555)

In [51]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [52]:
x_train

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
64             7      114         66        0        0  32.8  0.258   42
603            7      150         78       29      126  35.2  0.692   54
217            6      125         68       30      120  30.0  0.464   32
584            8      124         76       24      600  28.7  0.687   52
412            1      143         84       23      310  42.4  1.076   22
..           ...      ...        ...      ...      ...   ...    ...  ...
234            3       74         68       28       45  29.7  0.293   23
193           11      135          0        0        0  52.3  0.578   40
202            0      108         68       20        0  27.3  0.787   32
253            0       86         68       32        0  35.8  0.238   25
635           13      104         72        0        0  31.2  0.465   38

[614 rows x 8 columns]

In [53]:
 x_test

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
210            2       81         60       22        0  27.7  0.290   25
675            6      195         70        0        0  30.9  0.328   31
61             8      133         72        0        0  32.9  0.270   39
447            0       95         80       45       92  36.5  0.330   26
732            2      174         88       37      120  44.5  0.646   24
..           ...      ...        ...      ...      ...   ...    ...  ...
278            5      114         74        0        0  24.9  0.744   57
706           10      115          0        0        0   0.0  0.261   30
410            6      102         90       39        0  35.7  0.674   28
342            1        0         68       35        0  32.0  0.389   22
738            2       99         60       17      160  36.6  0.453   21

[154 rows x 8 columns]

In [54]:
x_train.shape

(614, 8)