# Train-Test Split

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [12]:
data= pd.DataFrame({
    "study_Hours":[1,2,3,4,5,6,7,8],
    "Marks":[35,40,50,55,65,70,80,85]
})
data

   study_Hours  Marks
0            1     35
1            2     40
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [15]:
X = data[["study_Hours"]]
Y = data["Marks"]

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,test_size=0.20,random_state=40)

In [20]:
X_train

   study_Hours
2            3
4            5
0            1
5            6
3            4
6            7

In [23]:
Y_test

7    85
1    40
Name: Marks, dtype: int64

In [24]:
X_train.shape

(6, 1)

In [25]:
Y_test.shape

(2,)

# Real time Dataset

In [26]:
diabetes = pd.read_csv("https://github.com/YBIFoundation/Dataset/raw/main/Diabetes.csv")

In [27]:
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [29]:
y = diabetes['diabetes']

In [30]:
X = diabetes.drop(['diabetes'], axis=1)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.20,random_state=40)

In [33]:
X_train

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
223            7      142         60       33      190  28.8  0.687   61
203            2       99         70       16       44  20.4  0.235   27
112            1       89         76       34       37  31.2  0.192   23
507            1      130         60       23      170  28.6  0.692   21
577            2      118         80        0        0  42.9  0.693   21
..           ...      ...        ...      ...      ...   ...    ...  ...
440            0      189        104       25        0  34.3  0.435   41
165            6      104         74       18      156  29.9  0.722   41
7             10      115          0        0        0  35.3  0.134   29
219            5      112         66        0        0  37.8  0.261   41
326            1      122         64       32      156  35.1  0.692   30

[614 rows x 8 columns]

In [34]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))